.faq-section {
  padding: 80px 100px;
  background: #eef3f9;
  font-family: Arial, sans-serif;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* LEFT SIDE */
.faq-left {
  flex: 1;
}

.faq-left h4 {
  color: #1e88e5;
  margin-bottom: 10px;
}

.faq-left h2 {
  font-size: 40px;
  color: #2c3e75;
  margin-bottom: 20px;
}

.faq-left span {
  background: #f6c453;
  padding: 0 8px;
}

.arrow-line {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.line {
  width: 80px;
  height: 2px;
  background: black;
  margin-right: 10px;
}

.arrow {
  font-size: 24px;
}

.message p {
  font-size: 20px;
  margin-bottom: 5px;
}

.message a {
  color: #1e88e5;
  font-size: 22px;
  text-decoration: none;
}

/* RIGHT SIDE */
.faq-right {
  flex: 1.2;
}

.faq-item {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s ease;
  border: 1px solid #e0e0e0;
}

.faq-item.active {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.faq-question span {
  font-size: 20px;
}

.faq-answer {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
  line-height: 1.6;
}
/* Smooth Slide Animation */
.faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-answer-wrapper.open {
  max-height: 200px;
  padding-top: 15px;
}

/* Rotate + icon animation */
.icon {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(45deg);
}